@import "../sass2/extend";

main{
    /* para evitar que se sobreponga el header y el nav */
    padding-top: 131px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: 
    "mainNav medico1 medico1 medico1 medico1"
    "mainNav medico2 medico2 medico2 medico2"
    "mainNav medico3 medico3 medico3 medico3"
    ;
    nav{
        grid-area: mainNav;
        height: 70%;
        width: 14%;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 200px;
            a{
                text-decoration: none;
                color: white;
                margin: 10px;
            }
            a:hover{
                font-weight: 900;
                color: white;
            }
            li{
                list-style: none;
                margin-right: 25px;
            }
        }
    }
    article {
        h3{
            margin: 25px;
        }
        table{
            /* margin: 0 auto; para colocar la tabla al medio */
            margin: 0 auto;
            background-color: #CAF0F8;
            border-collapse: collapse;
            height: 300px;
            width: 500px;
        }
        form{
            background-color: #CAF0F8;
            margin-bottom: 50px;
        }
        @extend .article-footer;
        margin: 50px;
        img{
            height: 150px;
        }
    }
    
}
.main-1{
    padding-top: 131px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: 
    "mainNav-1 mis-reservas mis-reservas mis-reservas mis-reservas"
    "mainNav-1 mis-reservas mis-reservas mis-reservas mis-reservas"
    "mainNav-1 mis-reservas mis-reservas mis-reservas mis-reservas"
    ;
    margin-bottom: 150px;
}
.soporte{
    font-weight: 900;
    color: black;
}
.soporte:hover{
    color: gray;
}
.medico1{
    grid-area: medico1;
}
.medico2{
    grid-area: medico2;
}
.medico3{
    grid-area: medico3;
}
.mis-reservas{
    grid-area: mis-reservas;
}